@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

//colors
$pink: hsl(322, 100%, 66%);
$lightPink: hsl(321, 100%, 78%);
$lightRed: hsl(0, 100%, 63%);
$veryDarkCyan: hsl(192, 100%, 9%);
$veryPaleBlue: hsl(207, 100%, 98%);
$white: rgb(255, 255, 255);
$bodyText: #2c3739;
$green: rgb(8, 187, 8);

//font-family
$heading-font: "Poppins", sans-serif;
$body-font: "Open Sans", sans-serif;

